In [1]:
# encoding: utf-8
import math
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import cross_validation  
from sklearn.neighbors import KNeighborsClassifier
 
"""
機器學習做鐵達尼號分析
"""

'\n\xe6\xa9\x9f\xe5\x99\xa8\xe5\xad\xb8\xe7\xbf\x92\xe5\x81\x9a\xe9\x90\xb5\xe9\x81\x94\xe5\xb0\xbc\xe8\x99\x9f\xe5\x88\x86\xe6\x9e\x90\n'

In [2]:
train_data_path = '/Users/macbook/Desktop/code/Simple-Machine-Learning/train.csv'
train_data = pd.read_csv(train_data_path,header=0)

n_train_data = train_data.iloc[:,[0,4]]   #挑想要哪幾欄

#女性存活率
female_tourist = len(train_data[train_data['Sex'] == 'female'])  
female_survived = len(train_data[(train_data['Sex'] == 'female') & (train_data['Survived'] == 1)])  
print female_survived * 1.0 / female_tourist

0.742038216561

In [3]:
#新增一欄Gender把Sex中女性為1,男性為0
#train_data['Gender'] = train_data['Sex'].map({'female': 1, 'male': 0}).astype(int) 
#astype把它變成int
train_data['Sex'] = train_data['Sex'].map({'female': 1, 'male': 0}).astype(int)

In [4]:
#把不必要的欄位刪除(Ticket,Name,Cabin,Embarked) 

train_data = train_data.drop(['Ticket','Name','Cabin','Embarked'],axis=1) #axis=0:代表橫軸 axis=1:代表縱軸

#分辨該欄有沒有值，有值為false,無值為True
np.isnan(train_data['Age'])

0      False
1      False
2      False
3      False
4      False
5       True
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17      True
18     False
19      True
20     False
21     False
22     False
23     False
24     False
25     False
26      True
27     False
28      True
29      True
       ...
861    False
862    False
863     True
864    False
865    False
866    False
867    False
868     True
869    False
870    False
871    False
872    False
873    False
874    False
875    False
876    False
877    False
878     True
879    False
880    False
881    False
882    False
883    False
884    False
885    False
886    False
887    False
888     True
889    False
890    False
Name: Age, dtype: bool

In [5]:
#把Age中的所有數值放入array
m = np.ma.masked_array(train_data['Age'], np.isnan(train_data['Age']))
m

masked_array(data = [22.0 38.0 26.0 35.0 35.0 -- 54.0 2.0 27.0 14.0 4.0 58.0 20.0 39.0 14.0
 55.0 2.0 -- 31.0 -- 35.0 34.0 15.0 28.0 8.0 38.0 -- 19.0 -- -- 40.0 -- --
 66.0 28.0 42.0 -- 21.0 18.0 14.0 40.0 27.0 -- 3.0 19.0 -- -- -- -- 18.0
 7.0 21.0 49.0 29.0 65.0 -- 21.0 28.5 5.0 11.0 22.0 38.0 45.0 4.0 -- --
 29.0 19.0 17.0 26.0 32.0 16.0 21.0 26.0 32.0 25.0 -- -- 0.83 30.0 22.0
 29.0 -- 28.0 17.0 33.0 16.0 -- 23.0 24.0 29.0 20.0 46.0 26.0 59.0 -- 71.0
 23.0 34.0 34.0 28.0 -- 21.0 33.0 37.0 28.0 21.0 -- 38.0 -- 47.0 14.5 22.0
 20.0 17.0 21.0 70.5 29.0 24.0 2.0 21.0 -- 32.5 32.5 54.0 12.0 -- 24.0 --
 45.0 33.0 20.0 47.0 29.0 25.0 23.0 19.0 37.0 16.0 24.0 -- 22.0 24.0 19.0
 18.0 19.0 27.0 9.0 36.5 42.0 51.0 22.0 55.5 40.5 -- 51.0 16.0 30.0 -- --
 44.0 40.0 26.0 17.0 1.0 9.0 -- 45.0 -- 28.0 61.0 4.0 1.0 21.0 56.0 18.0 --
 50.0 30.0 36.0 -- -- 9.0 1.0 4.0 -- -- 45.0 40.0 36.0 32.0 19.0 19.0 3.0
 44.0 58.0 -- 42.0 -- 24.0 28.0 -- 34.0 45.5 18.0 2.0 32.0 26.0 16.0 40.0
 24.0 35.0 22.0 30.0 -- 31.0 27.0 42.0 32.0 30.0 16.0 27.0 51.0 -- 38.0
 22.0 19.0 20.5 18.0 -- 35.0 29.0 59.0 5.0 24.0 -- 44.0 8.0 19.0 33.0 -- --
 29.0 22.0 30.0 44.0 25.0 24.0 37.0 54.0 -- 29.0 62.0 30.0 41.0 29.0 --
 30.0 35.0 50.0 -- 3.0 52.0 40.0 -- 36.0 16.0 25.0 58.0 35.0 -- 25.0 41.0
 37.0 -- 63.0 45.0 -- 7.0 35.0 65.0 28.0 16.0 19.0 -- 33.0 30.0 22.0 42.0
 22.0 26.0 19.0 36.0 24.0 24.0 -- 23.5 2.0 -- 50.0 -- -- 19.0 -- -- 0.92 --
 17.0 30.0 30.0 24.0 18.0 26.0 28.0 43.0 26.0 24.0 54.0 31.0 40.0 22.0 27.0
 30.0 22.0 -- 36.0 61.0 36.0 31.0 16.0 -- 45.5 38.0 16.0 -- -- 29.0 41.0
 45.0 45.0 2.0 24.0 28.0 25.0 36.0 24.0 40.0 -- 3.0 42.0 23.0 -- 15.0 25.0
 -- 28.0 22.0 38.0 -- -- 40.0 29.0 45.0 35.0 -- 30.0 60.0 -- -- 24.0 25.0
 18.0 19.0 22.0 3.0 -- 22.0 27.0 20.0 19.0 42.0 1.0 32.0 35.0 -- 18.0 1.0
 36.0 -- 17.0 36.0 21.0 28.0 23.0 24.0 22.0 31.0 46.0 23.0 28.0 39.0 26.0
 21.0 28.0 20.0 34.0 51.0 3.0 21.0 -- -- -- 33.0 -- 44.0 -- 34.0 18.0 30.0
 10.0 -- 21.0 29.0 28.0 18.0 -- 28.0 19.0 -- 32.0 28.0 -- 42.0 17.0 50.0
 14.0 21.0 24.0 64.0 31.0 45.0 20.0 25.0 28.0 -- 4.0 13.0 34.0 5.0 52.0
 36.0 -- 30.0 49.0 -- 29.0 65.0 -- 50.0 -- 48.0 34.0 47.0 48.0 -- 38.0 --
 56.0 -- 0.75 -- 38.0 33.0 23.0 22.0 -- 34.0 29.0 22.0 2.0 9.0 -- 50.0 63.0
 25.0 -- 35.0 58.0 30.0 9.0 -- 21.0 55.0 71.0 21.0 -- 54.0 -- 25.0 24.0
 17.0 21.0 -- 37.0 16.0 18.0 33.0 -- 28.0 26.0 29.0 -- 36.0 54.0 24.0 47.0
 34.0 -- 36.0 32.0 30.0 22.0 -- 44.0 -- 40.5 50.0 -- 39.0 23.0 2.0 -- 17.0
 -- 30.0 7.0 45.0 30.0 -- 22.0 36.0 9.0 11.0 32.0 50.0 64.0 19.0 -- 33.0
 8.0 17.0 27.0 -- 22.0 22.0 62.0 48.0 -- 39.0 36.0 -- 40.0 28.0 -- -- 24.0
 19.0 29.0 -- 32.0 62.0 53.0 36.0 -- 16.0 19.0 34.0 39.0 -- 32.0 25.0 39.0
 54.0 36.0 -- 18.0 47.0 60.0 22.0 -- 35.0 52.0 47.0 -- 37.0 36.0 -- 49.0 --
 49.0 24.0 -- -- 44.0 35.0 36.0 30.0 27.0 22.0 40.0 39.0 -- -- -- 35.0 24.0
 34.0 26.0 4.0 26.0 27.0 42.0 20.0 21.0 21.0 61.0 57.0 21.0 26.0 -- 80.0
 51.0 32.0 -- 9.0 28.0 32.0 31.0 41.0 -- 20.0 24.0 2.0 -- 0.75 48.0 19.0
 56.0 -- 23.0 -- 18.0 21.0 -- 18.0 24.0 -- 32.0 23.0 58.0 50.0 40.0 47.0
 36.0 20.0 32.0 25.0 -- 43.0 -- 40.0 31.0 70.0 31.0 -- 18.0 24.5 18.0 43.0
 36.0 -- 27.0 20.0 14.0 60.0 25.0 14.0 19.0 18.0 15.0 31.0 4.0 -- 25.0 60.0
 52.0 44.0 -- 49.0 42.0 18.0 35.0 18.0 25.0 26.0 39.0 45.0 42.0 22.0 --
 24.0 -- 48.0 29.0 52.0 19.0 38.0 27.0 -- 33.0 6.0 17.0 34.0 50.0 27.0 20.0
 30.0 -- 25.0 25.0 29.0 11.0 -- 23.0 23.0 28.5 48.0 35.0 -- -- -- 36.0 21.0
 24.0 31.0 70.0 16.0 30.0 19.0 31.0 4.0 6.0 33.0 23.0 48.0 0.67 28.0 18.0
 34.0 33.0 -- 41.0 20.0 36.0 16.0 51.0 -- 30.5 -- 32.0 24.0 48.0 57.0 --
 54.0 18.0 -- 5.0 -- 43.0 13.0 17.0 29.0 -- 25.0 25.0 18.0 8.0 1.0 46.0 --
 16.0 -- -- 25.0 39.0 49.0 31.0 30.0 30.0 34.0 31.0 11.0 0.42 27.0 31.0
 39.0 18.0 39.0 33.0 26.0 39.0 35.0 6.0 30.5 -- 23.0 31.0 43.0 10.0 52.0
 27.0 38.0 27.0 2.0 -- -- 1.0 -- 62.0 15.0 0.83 -- 23.0 18.0 39.0 21.0 --
 32.0 -- 20.0 16.0 30.0 34.5 17.0 42.0 -- 35.0 28.0 -- 4.0 74.0 9.0 16.0
 44.0 18.0 45.0 51.0 24.0 -- 41.0 21.0 48.0 -- 24.0 42.0 27.0 31.0 -- 4.0
 26.0 47.0 33.0 47.0 28.0 15.0 20.0 19.0 -- 56.0 25.0 33.0 22.0 28.0 25.0
 39.0 27.0 19.0 -- 26.0 32.0],
             mask = [False False False False False  True False False False False False False
 False False False False False  True False  True False False False False
 False False  True False  True  True False  True  True False False False
  True False False False False False  True False False  True  True  True
  True False False False False False False  True False False False False
 False False False False  True  True False False False False False False
 False False False False  True  True False False False False  True False
 False False False  True False False False False False False False  True
 False False False False False  True False False False False False  True
 False  True False False False False False False False False False False
 False  True False False False False  True False  True False False False
 False False False False False False False False  True False False False
 False False False False False False False False False False  True False
 False False  True  True False False False False False False  True False
  True False False False False False False False  True False False False
  True  True False False False  True  True False False False False False
 False False False False  True False  True False False  True False False
 False False False False False False False False False False  True False
 False False False False False False False  True False False False False
 False  True False False False False False  True False False False False
  True  True False False False False False False False False  True False
 False False False False  True False False False  True False False False
  True False False False False False  True False False False  True False
 False  True False False False False False False  True False False False
 False False False False False False False  True False False  True False
  True  True False  True  True False  True False False False False False
 False False False False False False False False False False False False
  True False False False False False  True False False False  True  True
 False False False False False False False False False False False  True
 False False False  True False False  True False False False  True  True
 False False False False  True False False  True  True False False False
 False False False  True False False False False False False False False
  True False False False  True False False False False False False False
 False False False False False False False False False False False False
 False  True  True  True False  True False  True False False False False
  True False False False False  True False False  True False False  True
 False False False False False False False False False False False False
  True False False False False False False  True False False  True False
 False  True False  True False False False False  True False  True False
  True False  True False False False False  True False False False False
 False  True False False False  True False False False False  True False
 False False False  True False  True False False False False  True False
 False False False  True False False False  True False False False False
 False  True False False False False  True False  True False False  True
 False False False  True False  True False False False False  True False
 False False False False False False False  True False False False False
  True False False False False  True False False  True False False  True
  True False False False  True False False False False  True False False
 False False  True False False False False False  True False False False
 False  True False False False  True False False  True False  True False
 False  True  True False False False False False False False False  True
  True  True False False False False False False False False False False
 False False False False False  True False False False  True False False
 False False False  True False False False  True False False False False
  True False  True False False  True False False  True False False False
 False False False False False False False  True False  True False False
 False False  True False False False False False  True False False False
 False False False False False False False False  True False False False
 False  True False False False False False False False False False False
 False  True False  True False False False False False False  True False
 False False False False False False False  True False False False False
  True False False False False False  True  True  True False False False
 False False False False False False False False False False False False
 False False False False  True False False False False False  True False
  True False False False False  True False False  True False  True False
 False False False  True False False False False False False  True False
  True  True False False False False False False False False False False
 False False False False False False False False False False False  True
 False False False False False False False False False  True  True False
  True False False False  True False False False False  True False  True
 False False False False False False  True False False  True False False
 False False False False False False False  True False False False  True
 False False False False  True False False False False False False False
 False False  True False False False False False False False False False
  True False False],
       fill_value = 1e+20)

In [6]:
#用numpy把平均數算出來
mean = np.mean(m).astype(int)
mean

29

In [7]:
"""
    意味著
    for x in train_data['Age']:
        if np.isnan(train_data['Age']) == true: x = mean;
        #else: x = x
"""
train_data['Age'] = train_data['Age'].map(lambda x : mean if np.isnan(x) else x) 
train_data['Fare'] = train_data['Fare'].map(lambda x : 0 if np.isnan(x) else int(x)).astype(int)

In [8]:
#把每位乘客所有的值array起來
x = train_data.values  
x

array([[   1.,    0.,    3., ...,    1.,    0.,    7.],
       [   2.,    1.,    1., ...,    1.,    0.,   71.],
       [   3.,    1.,    3., ...,    0.,    0.,    7.],
       ...,
       [ 889.,    0.,    3., ...,    1.,    2.,   23.],
       [ 890.,    1.,    1., ...,    0.,    0.,   30.],
       [ 891.,    0.,    3., ...,    0.,    0.,    7.]])

In [9]:
#把Survived的值array起來
y = train_data['Survived'].values
y

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0])

In [10]:
#把survived那欄拿掉: np.delete(x,第幾欄,axis=1) axis=0:代表橫軸 axis=1:代表縱軸
x = np.delete(x,1,axis=1) 
x

array([[   1.,    3.,    0., ...,    1.,    0.,    7.],
       [   2.,    1.,    1., ...,    1.,    0.,   71.],
       [   3.,    3.,    1., ...,    0.,    0.,    7.],
       ...,
       [ 889.,    3.,    1., ...,    1.,    2.,   23.],
       [ 890.,    1.,    0., ...,    0.,    0.,   30.],
       [ 891.,    3.,    0., ...,    0.,    0.,    7.]])

In [11]:
#把train_data中一部分拿出來做訓練，再把另一部分拿來測試，再之後要針對每個分類器做出model
#x_train 為已知train_data的feature值, x_test為假設未知的feature
#y_train 為已知train_data的lebal值, y_test為假設未知的lebal
x_train, x_test, y_train, y_test = cross_validation.train_test_split(x,y,test_size=0.3,random_state=1)

In [12]:
x_train

array([[ 115.,    3.,    1., ...,    0.,    0.,   14.],
       [ 875.,    2.,    1., ...,    1.,    0.,   24.],
       [  77.,    3.,    0., ...,    0.,    0.,    7.],
       ...,
       [  73.,    2.,    0., ...,    0.,    0.,   73.],
       [ 236.,    3.,    1., ...,    0.,    0.,    7.],
       [  38.,    3.,    0., ...,    0.,    0.,    8.]])

In [13]:
x_test

array([[ 863.,    1.,    1., ...,    0.,    0.,   25.],
       [ 224.,    3.,    0., ...,    0.,    0.,    7.],
       [  85.,    2.,    1., ...,    0.,    0.,   10.],
       ...,
       [ 240.,    2.,    0., ...,    0.,    0.,   12.],
       [ 485.,    1.,    0., ...,    1.,    0.,   91.],
       [  93.,    1.,    0., ...,    1.,    0.,   61.]])

In [14]:
#使用decision_tree做訓練model
"""
   運用sklearn的library
"""
decision_tree = tree.DecisionTreeClassifier(max_depth=3)

In [15]:
#下面是Decision Tree分類器的可改變參數
decision_tree.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            random_state=None, splitter='best')

In [16]:
#train model準確度
decision_tree.score(x_test,y_test)

0.78731343283582089

In [17]:
#使用KNN來做訓練model
"""
運用sklearn的library
"""
knn = KNeighborsClassifier(n_neighbors=29)
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_neighbors=29, p=2, weights='uniform')

In [18]:
#下面是KNN分類器的可改變參數
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_neighbors=29, p=2, weights='uniform')

In [19]:
#train model準確度
knn.score(x_test,y_test)

0.64179104477611937

In [20]:
#model既然已經訓練好了，下一步就是把test_data放進來
#叫出test_data
test_data_path = '/Users/macbook/Desktop/code/Simple-Machine-Learning/test.csv'
test_data = pd.read_csv(test_data_path,header=0)
test_data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [21]:
#把資料弄好
test_data['Sex'] = test_data['Sex'].map({'female': 1, 'male': 0}).astype(int)  
test_data['Fare'] = test_data['Fare'].map(lambda x : 0 if np.isnan(x) else int(x)).astype(int)

In [22]:
#把不要的欄位去除
test_data = test_data.drop(['Ticket','Name','Cabin','Embarked'],axis=1)

In [23]:
#Age算平均數，把空白資料補起來
m = np.ma.masked_array(test_data['Age'], np.isnan(test_data['Age']))  
mean = np.mean(m).astype(int)  
test_data['Age'] = test_data['Age'].map(lambda x : mean if np.isnan(x) else int(x)) 
mean

30

In [24]:
#開始預測，預測結果會呈現為一個array
predicts = decision_tree.predict(test_data)
predicts

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0])

In [25]:
#把id也弄成一個array(比賽要求格式)
ids = test_data['PassengerId'].values   
ids

array([ 892,  893,  894,  895,  896,  897,  898,  899,  900,  901,  902,
        903,  904,  905,  906,  907,  908,  909,  910,  911,  912,  913,
        914,  915,  916,  917,  918,  919,  920,  921,  922,  923,  924,
        925,  926,  927,  928,  929,  930,  931,  932,  933,  934,  935,
        936,  937,  938,  939,  940,  941,  942,  943,  944,  945,  946,
        947,  948,  949,  950,  951,  952,  953,  954,  955,  956,  957,
        958,  959,  960,  961,  962,  963,  964,  965,  966,  967,  968,
        969,  970,  971,  972,  973,  974,  975,  976,  977,  978,  979,
        980,  981,  982,  983,  984,  985,  986,  987,  988,  989,  990,
        991,  992,  993,  994,  995,  996,  997,  998,  999, 1000, 1001,
       1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012,
       1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023,
       1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034,
       1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045,
       1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056,
       1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067,
       1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078,
       1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089,
       1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100,
       1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111,
       1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122,
       1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133,
       1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144,
       1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155,
       1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166,
       1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177,
       1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188,
       1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199,
       1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210,
       1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221,
       1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232,
       1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243,
       1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254,
       1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265,
       1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276,
       1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287,
       1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298,
       1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309])

In [26]:
"""
    兩種方法
    1. 用pd.DataFrame方式，但會產生index，需事後修改
    2. 用傳統csv寫入資料
"""
#第1種方法:pd.DataFrame
result = {'PassengerId': ids,
        'Survived': predicts,}
result_df = pd.DataFrame(result)
result_df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         0
21           913         1
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [27]:
#pandas寫入檔案方法
result_path = '/Users/macbook/Desktop/code/Simple-Machine-Learning/result_df.csv'
result_df.to_csv(result_path)

In [28]:
#第二種方法:import csv
import csv

In [29]:
#開啟一個空白檔案，給予寫入權限（wb）
#給予暫時的寫入空間
result_csv = open('result_csv.csv','wb')
w_result_csv = csv.writer(result_csv)

In [30]:
#writerow寫入一行的columns名字
w_result_csv.writerow(["PassengerId","Survived"])

In [31]:
#zip函式功用
zip(ids, predicts)

[(892, 0),
 (893, 1),
 (894, 0),
 (895, 0),
 (896, 1),
 (897, 0),
 (898, 1),
 (899, 0),
 (900, 1),
 (901, 0),
 (902, 0),
 (903, 0),
 (904, 1),
 (905, 0),
 (906, 1),
 (907, 1),
 (908, 0),
 (909, 0),
 (910, 1),
 (911, 1),
 (912, 0),
 (913, 1),
 (914, 1),
 (915, 0),
 (916, 1),
 (917, 0),
 (918, 1),
 (919, 0),
 (920, 0),
 (921, 0),
 (922, 0),
 (923, 0),
 (924, 1),
 (925, 1),
 (926, 0),
 (927, 0),
 (928, 1),
 (929, 1),
 (930, 0),
 (931, 0),
 (932, 0),
 (933, 0),
 (934, 0),
 (935, 1),
 (936, 1),
 (937, 0),
 (938, 0),
 (939, 0),
 (940, 1),
 (941, 1),
 (942, 0),
 (943, 0),
 (944, 1),
 (945, 1),
 (946, 0),
 (947, 0),
 (948, 0),
 (949, 0),
 (950, 0),
 (951, 1),
 (952, 0),
 (953, 0),
 (954, 0),
 (955, 1),
 (956, 0),
 (957, 1),
 (958, 1),
 (959, 0),
 (960, 0),
 (961, 1),
 (962, 1),
 (963, 0),
 (964, 1),
 (965, 0),
 (966, 1),
 (967, 0),
 (968, 0),
 (969, 1),
 (970, 0),
 (971, 1),
 (972, 1),
 (973, 0),
 (974, 0),
 (975, 0),
 (976, 0),
 (977, 0),
 (978, 1),
 (979, 1),
 (980, 1),
 (981, 1),
 (982, 1),
 (983, 0),
 (984, 1),
 (985, 0),
 (986, 0),
 (987, 0),
 (988, 1),
 (989, 0),
 (990, 1),
 (991, 0),
 (992, 1),
 (993, 0),
 (994, 0),
 (995, 0),
 (996, 1),
 (997, 0),
 (998, 0),
 (999, 0),
 (1000, 0),
 (1001, 0),
 (1002, 0),
 (1003, 1),
 (1004, 1),
 (1005, 1),
 (1006, 1),
 (1007, 0),
 (1008, 0),
 (1009, 1),
 (1010, 0),
 (1011, 1),
 (1012, 1),
 (1013, 0),
 (1014, 1),
 (1015, 0),
 (1016, 0),
 (1017, 1),
 (1018, 0),
 (1019, 1),
 (1020, 0),
 (1021, 0),
 (1022, 0),
 (1023, 0),
 (1024, 0),
 (1025, 0),
 (1026, 0),
 (1027, 0),
 (1028, 0),
 (1029, 0),
 (1030, 1),
 (1031, 0),
 (1032, 0),
 (1033, 1),
 (1034, 0),
 (1035, 0),
 (1036, 0),
 (1037, 0),
 (1038, 0),
 (1039, 0),
 (1040, 0),
 (1041, 0),
 (1042, 1),
 (1043, 0),
 (1044, 0),
 (1045, 1),
 (1046, 0),
 (1047, 0),
 (1048, 1),
 (1049, 1),
 (1050, 0),
 (1051, 1),
 (1052, 1),
 (1053, 1),
 (1054, 1),
 (1055, 0),
 (1056, 0),
 (1057, 1),
 (1058, 0),
 (1059, 0),
 (1060, 1),
 (1061, 1),
 (1062, 0),
 (1063, 0),
 (1064, 0),
 (1065, 0),
 (1066, 0),
 (1067, 1),
 (1068, 1),
 (1069, 0),
 (1070, 1),
 (1071, 1),
 (1072, 0),
 (1073, 0),
 (1074, 1),
 (1075, 0),
 (1076, 1),
 (1077, 0),
 (1078, 1),
 (1079, 0),
 (1080, 0),
 (1081, 0),
 (1082, 0),
 (1083, 0),
 (1084, 1),
 (1085, 0),
 (1086, 1),
 (1087, 0),
 (1088, 1),
 (1089, 1),
 (1090, 0),
 (1091, 1),
 (1092, 1),
 (1093, 1),
 (1094, 0),
 (1095, 1),
 (1096, 0),
 (1097, 0),
 (1098, 1),
 (1099, 0),
 (1100, 1),
 (1101, 0),
 (1102, 0),
 (1103, 0),
 (1104, 0),
 (1105, 1),
 (1106, 1),
 (1107, 0),
 (1108, 1),
 (1109, 0),
 (1110, 1),
 (1111, 0),
 (1112, 1),
 (1113, 0),
 (1114, 1),
 (1115, 0),
 (1116, 1),
 (1117, 1),
 (1118, 0),
 (1119, 1),
 (1120, 0),
 (1121, 0),
 (1122, 0),
 (1123, 1),
 (1124, 0),
 (1125, 0),
 (1126, 0),
 (1127, 0),
 (1128, 0),
 (1129, 0),
 (1130, 1),
 (1131, 1),
 (1132, 1),
 (1133, 1),
 (1134, 0),
 (1135, 0),
 (1136, 0),
 (1137, 0),
 (1138, 1),
 (1139, 0),
 (1140, 1),
 (1141, 1),
 (1142, 0),
 (1143, 0),
 (1144, 0),
 (1145, 0),
 (1146, 0),
 (1147, 0),
 (1148, 0),
 (1149, 0),
 (1150, 1),
 (1151, 0),
 (1152, 0),
 (1153, 0),
 (1154, 1),
 (1155, 1),
 (1156, 0),
 (1157, 0),
 (1158, 0),
 (1159, 0),
 (1160, 1),
 (1161, 0),
 (1162, 0),
 (1163, 0),
 (1164, 1),
 (1165, 1),
 (1166, 0),
 (1167, 1),
 (1168, 0),
 (1169, 0),
 (1170, 0),
 (1171, 0),
 (1172, 1),
 (1173, 1),
 (1174, 1),
 (1175, 1),
 (1176, 1),
 (1177, 0),
 (1178, 0),
 (1179, 0),
 (1180, 0),
 (1181, 0),
 (1182, 0),
 (1183, 1),
 (1184, 0),
 (1185, 0),
 (1186, 0),
 (1187, 0),
 (1188, 0),
 (1189, 0),
 (1190, 0),
 (1191, 0),
 (1192, 0),
 (1193, 0),
 (1194, 0),
 (1195, 0),
 (1196, 1),
 (1197, 1),
 (1198, 0),
 (1199, 1),
 (1200, 0),
 (1201, 1),
 (1202, 0),
 (1203, 0),
 (1204, 0),
 (1205, 1),
 (1206, 1),
 (1207, 1),
 (1208, 0),
 (1209, 0),
 (1210, 0),
 (1211, 0),
 (1212, 0),
 (1213, 0),
 (1214, 0),
 (1215, 0),
 (1216, 1),
 (1217, 0),
 (1218, 1),
 (1219, 0),
 (1220, 0),
 (1221, 0),
 (1222, 1),
 (1223, 0),
 (1224, 0),
 (1225, 1),
 (1226, 0),
 (1227, 0),
 (1228, 0),
 (1229, 0),
 (1230, 0),
 (1231, 0),
 (1232, 0),
 (1233, 0),
 (1234, 0),
 (1235, 1),
 (1236, 0),
 (1237, 1),
 (1238, 0),
 (1239, 1),
 (1240, 0),
 (1241, 1),
 (1242, 1),
 (1243, 0),
 (1244, 0),
 (1245, 0),
 (1246, 1),
 (1247, 0),
 (1248, 1),
 (1249, 0),
 (1250, 0),
 (1251, 1),
 (1252, 0),
 (1253, 1),
 (1254, 1),
 (1255, 0),
 (1256, 1),
 (1257, 0),
 (1258, 0),
 (1259, 0),
 (1260, 1),
 (1261, 0),
 (1262, 0),
 (1263, 1),
 (1264, 0),
 (1265, 0),
 (1266, 1),
 (1267, 1),
 (1268, 1),
 (1269, 0),
 (1270, 0),
 (1271, 0),
 (1272, 0),
 (1273, 0),
 (1274, 1),
 (1275, 1),
 (1276, 0),
 (1277, 1),
 (1278, 0),
 (1279, 0),
 (1280, 0),
 (1281, 0),
 (1282, 0),
 (1283, 1),
 (1284, 0),
 (1285, 0),
 (1286, 0),
 (1287, 1),
 (1288, 0),
 (1289, 1),
 (1290, 0),
 (1291, 0),
 (1292, 1),
 (1293, 0),
 (1294, 1),
 (1295, 0),
 (1296, 0),
 (1297, 0),
 (1298, 0),
 (1299, 0),
 (1300, 1),
 (1301, 1),
 (1302, 1),
 (1303, 1),
 (1304, 1),
 (1305, 0),
 (1306, 1),
 (1307, 0),
 (1308, 0),
 (1309, 0)]

In [32]:
#接著把所有資料寫入，關掉檔案
w_result_csv.writerows(zip(ids, predicts))  
result_csv.close()